$header-height: 800px;
$nav-height: 54px;
$nav-width: 1170px;
$link-color: #fff;
$link-font-size: 14px;
$link-font-family: 'Sans';
$link-font-weight: 400;
$ellipse-size: 9px;
$social-icon-size: 40px;
$heading-width: 950px;
$title-font-size: 80px;
$title-font-family: 'Montserrat';
$title-font-weight: 700;
$subtitle-font-size: 18px;
$subtitle-font-family: 'Montserrat';
$subtitle-font-weight: 400;
$btn-size: 40px;
$burger-line-height: 3px;
$burger-line-color: #fff;
$gradient-start: #7E5AFF;
$gradient-end: #55B7FF;