.header{
    width: 100%;
    height: 100px;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title{
        color: #fff;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}